@import 'tailwindcss';

@theme {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #8D85FF;
  --color-background: #f7f6f5;
  --color-foreground: #222222;
  --color-accent: #BCEA3E;
  --color-button: #F4F4F4;
  --color-gray: #9FA5AF;
  --font-anonymous: var(--font-anonymous-pro), monospace;
  --font-vietnam: var(--font-be-vietnam-pro), sans-serif;
}

.dark {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-tertiary: #8D85FF;
  --color-background: #222222;
  --color-foreground: #f7f6f5;
  --color-accent: #BCEA3E;
  --color-button: #F4F4F4;
  --color-gray: #9FA5AF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-be-vietnam-pro), sans-serif;
  margin: 0;
}

.navbar--transparent {
  background-color: transparent;
}

.navbar--solid {
  background-color: var(--color-background);
}