@import 'tailwindcss';

@theme {
  --color-primary: #ffffff;
  --color-background: #f7f6f5;
  --color-foreground: #222222;
}

.dark {
  --color-primary: #000000;
  --color-background: #222222;
  --color-foreground: #f7f6f5;
}